h1{font-size:xx-large;font-weight:900;font-family: 'Bookman', serif;}
h2{font-size:large;font-weight:900;font-family: 'Bookman', serif;}
p {color:black}
.page {border-top:2px solid crimson;border-bottom:2px solid crimson;}
.box1 {text-align:center;background-color:lawngreen;width:90px;height:20px;border:3px solid gray;margin:1px;padding:0;float:left;}
.box2 {width:480px;height:480px;border:1px solid gray;margin:5px;padding:0;float:left;}
.cancel {text-align:center;background-color:crimson;width:90px;height:20px;border:3px solid gray;margin:0;padding:0;float:left;}
.signup {text-align:center;background-color:deepskyblue;width:90px;height:20px;border:3px solid gray;margin:0;padding:0;float:left;}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}
head {margin-left:400px;}
body {margin-left:400px; width:1020px;}
hr.head {border:1.5px solid black;text-align:center;width:100%;}
aside {padding:20px;display:flex;flex-flow:column;align-items:stretch;border-right:5px solid black;flex:3;}
aside div {margin-bottom:25px;}
label {margin-bottom:5px;}
input {font-size:16px;background:black;color:white;border:none;width:100%;}
button {font-size:16px;background:black;color:yellow;border:none;border-radius:10px;width:100%;}
select {font-size:16px;width:100%;}
body > div {border:3px solid black;display:flex;}
main{display:flex;flex-flow:row wrap;justify-content: space-around;flex:7;}
section {width:45%;margin:5px;background-color:black;position:relative;height:210px;}
section img {width:100%;height:100%;display:block;position:absolute;bottom:0px;}
section p {color:yellow;background:black;width:50px;height:50px;line-height:50px;text-align:center;border-radius:50%;position:absolute;right:10px;bottom:-3px;z-index:2000;}